@model SaleDetailBaseModel
@{
    ViewData["Title"] = "Sale Detail";
}
<h2>@ViewData["Title"]</h2>
<br />
<label>Customer: </label>
<label>@Model.Customer</label>
<br />
<label>Car Make: </label>
<label>@Model.Make</label>
<br />
<label>Car Model</label>
<label>@Model.Model</label>