@model TotalCustomerSalesModel
@{
    ViewData["Title"] = "Total Sales" + Model.Name;
}
<h2>@ViewData["Title"]</h2>
<label>Name: </label>
<label>@Model.Name</label>
<br />
<label>Cars Count: </label>
<label>@Model.CarsCount</label>
<br />
<label>Total Spend Money</label>
<label>@Model.TotalSpendMoney</label>
